* {box-sizing: border-box;}

/* Roboto Regular 400 */
.roboto-regular {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

/* Roboto Medium 500 */
.roboto-medium {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

/* Roboto Bold 700 */
.roboto-bold {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

/* Raleway ExtraBold 800 */
.raleway-extrabold {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
}

a {text-decoration: none;}

.list {list-style: none;}


.logo-text-first {color:#4D5AE5;}
.menu-item-link {color: #2E2F42;}
.mail {color: #434455;}
.number {color: #434455;}

.description {background-color: #2E2F42;}
.description-title {color: #FFFFFF; display: flex; justify-content: center;}
.modal-button {background-color: #4D5AE5; color: #FFFFFF; }

.about-list {display: flex; flex-direction: row;}
.about-title {color: #2E2F42;}
.about-text {color: #434455;}
.services-img-list {display: flex; justify-content: center;}
.services-title {color: #2E2F42; display: flex; justify-content: center;}
.services-img {width: 360px; height: 300px;}

.team {background-color: #F4F4FD;}
.team-title {color: #2E2F42; display: flex; justify-content: center;}
.team-list {display: flex; justify-content: center;}
.worker-photo {width: 264px; width: 260px;}
.name {color: #2E2F42;}
.profession {color: #434455;}

.footer {background-color: #2E2F42;}
.foot-text {color: #F4F4FD;}