* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container {
  width: 1440px;
  padding: 0 156px;
  height: 72px;
}

/* header */

.header-position {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-around;
}
.list-header {
  display: flex;
  gap: 40px;
}
.logo {
  color: #4d5ae5;
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 800;
}

.logo > span {
  color: #2e2f42;
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 800;
}

.logo-text-first {
  color: #4d5ae5;
}
.menu-item-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
}
.mail {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
}
.number {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
}

/* hero */
.hero {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.description {
  width: 1440px;
  background-image: url(/images/people-office\ 1.jpg);
  background-position: center;
  background-size: 1440px 600px;
  background-color: rgba(46, 47, 66, 0.7);
}
.description::before {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.7);
}


.description-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.02em;
  width: 496px;
  text-align: center;
  color: #ffffff;
}
.modal-button {
  background-color: #4d5ae5;
  color: #ffffff;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  height: 56px;
  width: 169px;
  padding: 16 32px;
  border-radius: 4px;
}
/* about */
.about {
  height: 876px;
  width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 120px;
}
.about-con {
  width: 1128px;
}
.about-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.about-title {
  color: #2e2f42;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
}
.about-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
}

.services-img-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.services-title {
  font-size: 36px;
  font-weight: 700;
  color: #2e2f42;
  display: flex;
  justify-content: center;
}
.services-img {
  width: 360px;
  height: 300px;
}

.team {
  background-color: #f4f4fd;
  height: 732px;
  width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.team-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.worker-item {
  background-color: #ffffff;
}
.worker-photo {
  width: 264px;
  width: 260px;
  margin-bottom: 32px;
}
.worker-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.name {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 8px;
}
.profession {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 32px;
}

.footer {
  background-color: #2e2f42;
  width: 1440px;
}
.footdiv {
  height: 312px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 156px;
}
.logo-foot {
  color: #4d5ae5;
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 800;
}
.logo-foot > span {
  color: #f4f4fd;
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 800;
}
.foot-text {
  margin-top: 16px;
  color: #f4f4fd;
  width: 264px;
  font-size: 16px;
  font-weight: 400;
}
